<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/chat.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Dongle:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans KR:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work Sans:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Play:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto Mono:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Hind:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Jua:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="screen" id="chatforParticipantScreen">

      <div class="chat-header">
        <div class="div3">바라</div>
        <b class="b">배달 완료</b>
        <div class="div4">
          <div class="child"></div>
          <img class="icon" alt="" src="/public/icon.svg" />
        </div>
        <div class="div5">
          <b class="b1">신고</b>
          <div class="item"></div>
        </div>
        <img class="icon1" alt="" src="/public/icon1.svg" />
<!--        계좌번호-->
        <div class="div10">
          <div class="rectangle-group">
            <div class="group-child"></div>
            <div class="group-item"></div>
          </div>
          <b class="b3">계좌번호 : 신한 111-00000</b>
          <b class="b3">계좌번호 : 신한 111-00000</b>
          <img
                  class="interface-essentialbookmark-icon"
                  alt=""
                  src="/public/interface-essentialbookmark.svg"
          />
        </div>
      </div>


<!--      얘가 messageArea-->
      <div class="rectangle-parent">
        <div class="frame-child"></div>

        <form id="messageForm" name="messageForm" nameForm="messageForm"></form>
          <!--입력창의 class="input-group clearfix" "form group"-->
          <div class="div6">

            <!--          class="form-control"-->
            <input class="textbox" name="message" id="message" type="text" autocomplete="off" />

            <button class="button" id="sendBtn" type = submit>
              <div class="inner"></div>
              <img class="send-icon" alt="" src="/public/send.svg" />
            </button>

          </div>
        </form>

        <div class="div7" id="myChat"></div>
        <div class="div8">
          <div class="rectangle-div" id="otherChat"></div>
          <div class="div9">
            <b class="b2">참여자 1</b>
            <div class="child1"></div>
          </div>
        </div>

      </div>

<!--      <button class="arrow-back-ios" id="backBtn">-->
<!--        <img class="vector-icon" alt="" src="/public/vector.svg" />-->

<!--        <img class="vector-icon1" alt="" src="/public/vector1.svg" />-->
<!--      </button>-->

      <div class="div11" id="reportPopupScreen">
        <img class="icon2" alt="" src="/public/.svg" />

        <div class="div12">
          <b class="b5">
            <p class="p">정말 방장을</p>
            <p class="p">신고하시겠어요?</p>
          </b>
          <button class="button1" id="reportCancelBtn">
            <div class="child2"></div>
            <div class="div13">취소</div>
          </button>
          <button class="button2" id="reportConfirmBtn">
            <div class="child3"></div>
            <div class="div14">확인</div>
          </button>
          <button class="x" id="xBtn">
            <div class="x1">X</div>
            <div class="x-child"></div>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
