<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/component7.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Dongle:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans KR:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work Sans:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Play:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto Mono:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Hind:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Jua:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="div42" id="searchScreen">
      <img
        class="image-9-icon1"
        loading="lazy"
        alt=""
        src="../static/public/image-91.svg"
      />

      <div class="div43">바라</div>
      <div class="div44">
        <input
          class="child12"
          name="inputSearch"
          id="inputSearch"
          placeholder="먹고 싶은 음식/음식점을 입력해주세요."
          type="text"
        />

        <button class="button10" id="searchBtn">
          <div class="child13"></div>
          <img class="vector-icon20" alt="" src="../static/public/vector4.svg" />

          <img class="vector-icon21" alt="" src="../static/public/vector5.svg" />
        </button>
      </div>
      <div class="rectangle-parent6">
        <div class="group-child10"></div>
        <button class="icon-parent" id="mypageBtn">
          <img class="icon4" alt="" src="../static/public/icon2.svg" />

          <div class="div45">마이페이지</div>
          <div class="group-child11"></div>
        </button>
        <button class="icon-group" id="chatBtn">
          <img class="icon5" alt="" src="../static/public/icon3.svg" />

          <div class="div46">채팅</div>
          <div class="group-child12"></div>
        </button>
        <button class="icon-container" id="searchBtn">
          <img class="icon6" alt="" src="../static/public/icon4.svg" />

          <div class="div47">검색</div>
          <div class="group-child12"></div>
        </button>
        <button class="group-button" id="homeBtn">
          <img class="icon7" alt="" src="../static/public/icon5.svg" />

          <div class="div48">홈</div>
          <div class="group-child12"></div>
        </button>
      </div>
      <button class="arrow-back-ios5" id="backBtn">
        <img class="vector-icon22" alt="" src="../static/public/vector.svg" />

        <img class="vector-icon23" alt="" src="../static/public/vector1.svg" />
      </button>
    </div>
  </body>
</html>
