<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./component1.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Dongle:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans KR:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work Sans:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Play:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto Mono:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Hind:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Jua:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="div15" id="roommakingScreen">
      <div class="div16">방 만들기</div>
      <button class="arrow-back-ios1" id="backBtn">
        <img class="vector-icon2" alt="" src="./public/vector.svg" />

        <img class="vector-icon3" alt="" src="./public/vector1.svg" />
      </button>
      <div class="food-parent">
        <input
          class="food"
          name="inputFood"
          id="inputFood"
          placeholder="입력해주세요"
          type="text"
        />

        <div class="div17">원하는 음식 / 음식점</div>
      </div>
      <div class="div18">바라</div>
      <div class="parent">
        <div class="div17">계좌번호</div>
        <input
          class="input"
          name="inputBank"
          id="inputBank"
          placeholder="입력해주세요"
          type="text"
        />
      </div>
      <div class="group">
        <div class="div20">한 줄 설명(선택)</div>
        <input
          class="input1"
          name="inputDesctiption"
          id="inputDesctiption"
          placeholder="입력해주세요"
          type="text"
        />
      </div>
      <div class="container">
        <input
          class="food"
          name="inputPlace"
          id="inputPlace"
          placeholder="입력해주세요"
          type="text"
        />

        <div class="div21">배부 장소</div>
      </div>
      <button class="rectangle-container" id="createRoom">
        <div class="group-inner"></div>
        <div class="div22">방 만들기</div>
      </button>
      <section class="group-section" id="dueTime">
        <div class="div23">마감시간</div>
        <div class="hours-parent">
          <div class="hours">
            <input
              class="input-light"
              name="inputHour"
              id="inputHour"
              placeholder="18"
              type="text"
            />

            <b class="b6">시간</b>
          </div>
          <div class="hours">
            <input
              class="input-light"
              name="inputMinute"
              id="inputMinute"
              placeholder="55"
              type="text"
            />

            <b class="b7">분</b>
          </div>
        </div>
      </section>
      <div class="group-div">
        <button class="button3" id="plusBtn">+</button>
        <button class="button4" id="minusBtn">-</button>
        <div class="div24">
          <div class="input-light2">
            <strong class="strong" id="numberOfMembers">0</strong>
          </div>
        </div>
        <div class="div25">최소주문인원</div>
      </div>
    </div>
  </body>
</html>
