.b,
.div3 {
  display: inline-block;
}
.div3 {
  position: absolute;
  top: 36px;
  left: 153px;
  font-size: var(--font-size-41xl);
  font-family: var(--font-dongle);
  color: var(--color-forestgreen-100);
  width: 83px;
  height: 62px;
  -webkit-text-stroke: 1px #00802b;
}
.b {
  top: 218px;
  left: 0;
  width: 322px;
  height: 27px;
}
.b,
.child,
.icon {
  position: absolute;
}
.child {
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: #569aff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 282px;
  height: 75px;
}
.icon {
  top: 20px;
  left: calc(50% - 19px);
  width: 38.9px;
  height: 38px;
}
.div4 {
  top: 130px;
  left: 20px;
  width: 282px;
  height: 75px;
}
.b1,
.div4,
.item {
  position: absolute;
}
.b1 {
  top: 88px;
  left: 0;
  display: inline-block;
  width: 98px;
  height: 27px;
}
.item {
  top: 0;
  left: 20px;
  border-radius: var(--br-xl);
  background-color: #ff7979;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 57px;
  height: 75px;
}
.div5,
.icon1 {
  position: absolute;
  top: 130px;
  left: 302px;
  width: 98px;
  height: 115px;
}
.icon1 {
  top: 150px;
  left: 332px;
  width: 37.1px;
  height: 35.3px;
}
.frame-child {
  border-radius: var(--br-5xl);
  background-color: var(--light-light-1);
  box-shadow: var(--elevation-3);
  width: 390px;
  height: 578px;
}
.frame-child,
.inner,
.textbox {
  position: absolute;
  top: 0;
  left: 0;
}
.textbox {
  border: 0;
  background-color: var(--grey);
  border-radius: var(--br-31xl);
  width: 342px;
  height: 50px;
}
.inner {
  border-radius: 50%;
  background-color: var(--theme-white-theme-core-tokens-grey-04);
  width: 45px;
  height: 45px;
}
.send-icon {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 2px;
  left: 294px;
  width: 45px;
  height: 45px;
}
.div6,
.div7 {
  position: absolute;
  top: 509px;
  left: 24px;
  width: 342px;
  height: 50px;
}
.div7 {
  top: 289px;
  left: 366px;
  border-radius: var(--br-xl) var(--br-xl) var(--br-xl) 0;
  background-color: var(--color-darkseagreen-100);
  width: 220px;
  height: 61px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.rectangle-div {
  top: 0;
  left: 76px;
  border-radius: var(--br-11xl) var(--br-11xl) var(--br-11xl) 0;
  background-color: var(--color-gainsboro-200);
  width: 220px;
  height: 158px;
}
.b2,
.child1,
.rectangle-div {
  position: absolute;
}
.b2 {
  top: 47px;
  left: 0;
  display: inline-block;
  width: 65px;
  height: 26px;
}
.child1 {
  top: 0;
  left: 13px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-300);
  width: 40px;
  height: 40px;
}
.div8,
.div9 {
  position: absolute;
  top: 118px;
  left: 0;
  width: 65px;
  height: 73px;
}
.div8 {
  top: 86px;
  left: 9px;
  width: 296px;
  height: 191px;
}
.group-child,
.group-item {
  position: absolute;
  background-color: var(--light-light-1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.group-child {
  top: 0;
  left: 0;
  border-radius: var(--br-5xl);
  width: 396px;
  height: 43.7px;
}
.group-item {
  top: 26.3px;
  left: 5px;
  width: 391px;
  height: 34.7px;
}
.b3,
.rectangle-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 396px;
  height: 61px;
}
.b3 {
  top: 17px;
  left: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 251px;
  height: 26px;
}
.div10,
.interface-essentialbookmark-icon {
  position: absolute;
  top: 10px;
  left: 60px;
  width: 40px;
  height: 40px;
}
.div10 {
  top: 0;
  left: -6px;
  width: 396px;
  height: 61px;
  font-size: var(--font-size-lg);
}
.rectangle-parent {
  position: absolute;
  top: 266px;
  left: 1px;
  width: 390px;
  height: 578px;
  font-size: var(--font-size-mini);
  font-family: var(--font-work-sans);
}
.vector-icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  opacity: 0.87;
}
.arrow-back-ios,
.vector-icon,
.vector-icon1 {
  position: absolute;
  overflow: hidden;
}
.vector-icon1 {
  height: 78.33%;
  width: 44.58%;
  top: 10.83%;
  right: 29.58%;
  bottom: 10.83%;
  left: 25.83%;
  max-width: 100%;
  max-height: 100%;
}
.arrow-back-ios {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 55px;
  left: 20px;
  width: 24px;
  height: 24px;
}
.icon2 {
  position: absolute;
  top: 0;
  left: 5px;
  border-radius: var(--br-5xl);
  width: 391px;
  height: 844px;
}
.p {
  margin: 0;
}
.b5 {
  top: 105px;
  left: calc(50% - 168px);
  display: inline-block;
  width: 336px;
}
.b5,
.child2,
.div13 {
  position: absolute;
}
.child2 {
  top: 0;
  left: calc(50% - 110px);
  border-radius: var(--br-3xs);
  background-color: var(--color-darkseagreen-100);
  border: 1px solid var(--color-darkseagreen-100);
  box-sizing: border-box;
  width: 220px;
  height: 49px;
}
.div13 {
  top: 12px;
  left: calc(50% - 19px);
  font-size: var(--font-size-xl);
  font-family: var(--font-mulish);
  color: var(--color-black);
  text-align: center;
}
.button1,
.child3 {
  position: absolute;
  left: calc(50% - 110px);
  width: 220px;
  height: 49px;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 299px;
}
.child3 {
  top: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-forestgreen-100);
}
.div14 {
  top: 12px;
  left: calc(50% - 19px);
  font-size: var(--font-size-xl);
  font-family: var(--font-mulish);
  color: var(--light-light-1);
  text-align: center;
}
.button2,
.div14,
.x1 {
  position: absolute;
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 240px;
  left: calc(50% - 110px);
  width: 220px;
  height: 49px;
}
.x1 {
  top: 3px;
  left: 4px;
  font-size: var(--font-size-9xl);
  font-family: var(--font-play);
  color: var(--color-forestgreen-100);
  text-align: center;
  display: inline-block;
  width: 32px;
  height: 34px;
  -webkit-text-stroke: 1px #000;
}
.x,
.x-child {
  width: 39px;
  height: 40px;
}
.x-child {
  position: absolute;
  top: 0;
  left: calc(50% - 19.5px);
  border-radius: var(--br-3xs);
  background-color: var(--color-darkseagreen-200);
}
.x {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 14px;
  left: 264px;
}
.div11,
.div12,
.x {
  position: absolute;
}
.div12 {
  top: calc(50% - 190px);
  left: calc(50% - 159.5px);
  border-radius: var(--br-xl);
  background-color: var(--light-light-1);
  border: 2px solid var(--color-forestgreen-100);
  box-sizing: border-box;
  width: 320px;
  height: 400px;
  overflow: hidden;
}
.div11 {
  top: 0;
  left: -5px;
  width: 391px;
  height: 844px;
  font-size: var(--font-size-9xl);
  color: #ff4040;
  font-family: var(--font-mulish);
}
.div2 {
  position: relative;
  border-radius: var(--br-5xl);
  background-color: var(--color-gray-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
