<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./component2.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Dongle:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans KR:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work Sans:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Play:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto Mono:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Hind:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Jua:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="screen" id="chatforBangjangScreen">
      <div class="div27">방 만들기</div>
      <img
        class="arrow-back-ios-icon"
        alt=""
        src="./public/arrow-back-ios.svg"
      />

      <div class="frame-div">
        <div class="frame-item"></div>
        <div class="div28">
          <input class="textbox1" name="inputChat" id="inputChat" type="text" />

          <button class="button5" id="sendBtn">
            <div class="ellipse-div"></div>
            <img class="send-icon1" alt="" src="./public/send.svg" />
          </button>
        </div>
        <div class="div29" id="myChat"></div>
        <div class="div30">
          <div class="child4" id="otherChat"></div>
          <div class="div31">
            <b class="b8">참여자 1</b>
            <div class="child5"></div>
          </div>
        </div>
        <div class="div32">
          <div class="rectangle-parent1">
            <div class="group-child1"></div>
            <div class="group-child2"></div>
          </div>
          <b class="b9">계좌번호 : 신한 111-00000</b>
          <b class="b9">계좌번호 : 신한 111-00000</b>
          <img
            class="interface-essentialbookmark-icon1"
            alt=""
            src="./public/interface-essentialbookmark.svg"
          />
        </div>
      </div>
      <div class="logo">바라</div>
      <div class="frame-parent">
        <div class="group-child3"></div>
        <div class="image-9-parent">
          <img class="image-9-icon" alt="" src="./public/image-9@2x.png" />

          <b class="b11">주문이 완료되면, 쿼카를 눌러주세요!</b>
        </div>
      </div>
      <!--
      <div class="screen" id="overPopupScreen">
        <img class="icon3" alt="" src="./public/.svg" />

        <div class="div35">
          <b class="b12">
            <p class="p2">마감 시간이 지났어요.</p>
            <p class="p2">10분 연장을 원하시나요?</p>
          </b>
          <button class="button6" id="nowBtn">
            <div class="child6"></div>
            <div class="div36">지금 마감하기</div>
          </button>
          <button class="button7" id="extendBtn">
            <div class="child7"></div>
            <div class="div37">마감 연장하기</div>
          </button>
          <div class="x2">
            <div class="x3">X</div>
            <div class="x-item"></div>
          </div>
        </div>
      </div>
      -->
    </div>
  </body>
</html>
