<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/component9.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Dongle:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans KR:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work Sans:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Play:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto Mono:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Hind:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Jua:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="div69" id="participatingScreen">
      <div class="child14"></div>
      <div class="div70">바라</div>
      <img
        class="image-8-icon1"
        id="imageOfFood"
        alt=""
        src="../static/public/image-81.svg"
      />

      <button class="button11">
        <div class="child15"></div>
        <div class="div71">참여하기</div>
      </button>
      <h1 class="h1" id="descriptionInfo">같이 먹어요💗</h1>
      <section class="frame-section" id="infoSection">
        <div class="frame-child1"></div>
        <h3 class="h31" id="placeInfo">배부 장소: 한우리 1층 로비</h3>
        <h3 class="h32" id="timeInfo">마감시간 22:00</h3>
        <h3 class="h33" id="numberOfMembersInfo">0 / 4</h3>
        <h3 class="h34" id="foodInfo">치킨 (음식점 - 선택)</h3>
      </section>
      <div class="div72" id="bangJangInfo">
        <h6 class="h6" id="bangjangNickname">방장 닉네임</h6>
        <img class="user-07b-icon2" alt="" src="../static/public/user-07b1.svg" />
      </div>
      <button class="arrow-back-ios7" id="backBtn">
        <img class="vector-icon26" alt="" src="../static/public/vector.svg" />

        <img class="vector-icon27" alt="" src="../static/public/vector1.svg" />
      </button>
    </div>
  </body>
</html>
