<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Dongle:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans KR:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work Sans:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Play:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto Mono:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Hind:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Jua:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="screen" id="homeScreen">
        <button class="rectangle-parent7" id="createRoom" type="button">
          <div class="group-child15"></div>
          <div class="div50">방 만들기</div>
        </button>

      <div class="logo">바라</div>


        <div class="group-container">
          <button class="ecc-parent" id="eccBtn" type="button">
            <div class="ecc">ECC</div>
            <div class="group-child16"></div>
          </button>
          <button class="parent3" id="libarayBtn" type="button">
            <div class="div60">중앙도서관</div>
            <div class="group-child16"></div>
          </button>
          <button class="parent4" id="asanBtn" type="button">
            <div class="div60">아산공학관</div>
            <div class="group-child16"></div>
          </button>
          <button class="parent5" id="hackgwanBtn" type="button">
            <div class="ecc">학관</div>
            <div class="group-child16"></div>
          </button>
          <button class="parent6" id="ehouseBtn" type="button">
            <div class="div63">이하우스</div>
            <div class="group-child16"></div>
          </button>
          <button class="parent7" id="hanwooriBtn" type="button">
            <div class="div64">한우리집</div>
            <div class="group-child16"></div>
          </button>
        </div>

      <div class="roomDiv">
        <button class="room" id="room1" type="button">
          <div class="div51">치킨 (음식)</div>
          <div class="div52">0 / 4</div>
          <div class="div53">마감시간 :</div>
          <div class="bangjang">
            <img class="user-07b-icon" alt="" src="/public/user-07b.svg" />
            <div class="div54">총대 닉네임</div>
          </div>
          <div class="magam">
            <div class="stamp">
              <img class="stamp-icon" alt="" src="/public/stamp.svg" />
              <div class="text-here">마감</div>
            </div>
          </div>
        </button>

        <button class="room" id="room2" type="button">
          <div class="div51">치킨 (음식)</div>
          <div class="div52">0 / 4</div>
          <div class="div53">마감시간 :</div>
          <div class="bangjang">
            <img class="user-07b-icon" alt="" src="/public/user-07b.svg" />
            <div class="div54">총대 닉네임</div>
          </div>
          <div class="magam1" id="magamStamp">
            <div class="stamp">
              <img class="stamp-icon1" alt="" src="/public/stamp.svg" />

              <div class="text-here">마감</div>
            </div>
          </div>
        </button>
      </div>



      <div class="menu-nav">
        <button class="menu-item icon-parent4" id="homeBtn" type="button">
          <img class="icon11" alt="" src="/public/icon5.svg" />
          <div class="div68">홈</div>
        </button>
        <button class="menu-item icon-parent3" id="searchBtn" type="button">
          <img class="icon10" alt="" src="/public/icon4.svg" />

          <div class="div67">검색</div>
        </button>
        <button class="menu-item icon-parent2" id="chatBtn" type="button">
          <img class="icon9" alt="" src="/public/icon3.svg" />

          <div class="div66">채팅</div>
        </button>
        <button class="menu-item icon-parent1" id="mypageBtn" type="button">
          <img class="icon8" alt="" src="/public/icon2.svg" />

          <div class="div65">마이페이지</div>
        </button>
      </div>
<!--        <button class="arrow-back-ios6" id="backBtn" type="button">-->
<!--          <img class="vector-icon24" alt="" src="/public/vector.svg" />-->
<!--          <img class="vector-icon25" alt="" src="/public/vector1.svg" />-->
<!--        </button>-->
    </div>
  </body>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // 'createRoom' ID를 가진 버튼을 선택
      var createRoomButton = document.querySelector('#createRoom');

      createRoomButton.addEventListener('click', function() {
        // '/chat/createroom'으로 리디렉션
        window.location.href = '/chat/createroom';
      });
    });
  </script>


</html>
